/**
 *
 * Filter component
 *
 */

.Filter
    // structure
    display: block
    absolute: top right bottom left
    z-index: 100
    // theme-style
    background-color: rgba(color.primary, 0.75)
    transition: background-color 1s ease-in
    
