/**
 *
 * Partner component
 *
 */
 
.Partner
    position: relative
    margin-top: -6px
    padding: rhythm(6) 0 rhythm(10)
    background: url('/images/back-eifelblock.jpg') 0 25%

.Partner__title
    position: relative
    z-index: 1000
    margin: 0
    color: color.text_negative

.Partner img 
    position: relative
    z-index: 1001

.Partner:hover .Filter
    background-color: rgba(color.secondary, 0.75)
    
