/**
 *
 * Splash component
 *
 */
 
.Splash
    // structure
    position: relative
    z-index: 1000

.Splash h4
    // structure
    margin-top: rhythm(10)
    padding: rhythm(5) rhythm(10)
    // theme-style
    color: color.text_negative
    font-size: rhythm(3)
    line-height: 140%
    border: 2px solid color.background
    border-radius: 3px

.Splash__Events
    // structure
    margin-bottom : rhythm(3)
    // padding: rhythm(5) rhythm(10)
    // theme-style
    color: color.text
    font-size: rhythm(3)
    line-height: 140%

.Splash__Event
    // structure
    margin-bottom : rhythm(2)
    padding: rhythm(5)
    // theme-style
    background-color : rgba(color.background, 0.75)
    border-radius: 3px
    

.Splash__Event > span 
    // structure
    display: block
    margin-top: rhythm(3)
    
.Splash__Event > span > strong
    // structure
    font-size: rhythm(8)
    
    
    
    
