/**
 *
 * Stylus main-file
 *
 */
 
// vendor packages
@import 'nib'
 
// Global settings & variables
@import 'base/rhythm'
@import 'base/colors'
@import 'base/layers'
@import 'base/typographic'

// Utils
@import 'utils/dev-helpers'
@import 'utils/border-box'

// styles on global elements
@import 'base/global-styles'

// Components
@import 'components/Filter'
@import 'components/Splash'
@import 'components/Thumb'
@import 'components/Map'
@import 'components/Partner'

#headerwrap
    background: url('../images/back.jpg') no-repeat center top;